spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

flyway:
  enabled: true
  url: jdbc:postgresql://localhost:5432/mydb
  user: admin
  password: admin
  schemas: public
  locations: classpath:db/migration
